@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-size: 4rem;
}

ul li {
    cursor: pointer;
}
ul li:hover {
    text-decoration: underline;
}

p {
    font-size: 1.5rem;
}

#grid-stayactive {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

#gridchild-title {
    grid-column: span 4 / span 4;
}

#gridchild-txt {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

#gridchild-rightPart {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 3;
}

#gridchild-firstItem {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

#gridchild-secondItem {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
}
